.header {
    text-align: center;
    color: white;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 100%;
    max-width: 100%;
  }
  
  .column img {
    vertical-align: middle;
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 481px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
  }
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 1024px) {
      .column {
        flex: 33.3%;
        max-width: 33.3%;
      }
  }