.f-container {
    position: relative;
    width: 100%;
    height: 230px;
    pointer-events: none;
  }

@media only screen and (min-width: 1417px) {
    .f-container {
        position: relative;
        width: 100%;
        height: 250px;
      }
}

@media only screen and (min-width: 1585px) {
    .f-container {
        position: relative;
        width: 100%;
        height: 300px;
      }
}

@media only screen and (min-width: 1740px) {
    .f-container {
        position: relative;
        width: 100%;
        /* height: 400px; */ 
      }
}

@media only screen and (min-width: 2370px) {
    .f-container {
        position: relative;
        width: 100%;
        /* height: 450px; */
      }
}

@media only screen and (min-width: 2560px) {
    .f-container {
        position: relative;
        width: 100%;
        /* height: 500px; */
      }
}
  
  .f-image {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }
  .f-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
  }
  
  .f-container:hover .f-overlay {
    opacity: 0.5;
  }
  
  .f-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  