.photoGalTitle, .photoGalDesc{
    color: #E8E8E8;
    text-align: center;
    position: relative;
    z-index: 0;
}

.photoGalTitle{
    font-size: 1.8em;
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: -0.5rem;
}

.photoGalDesc{
    font-size: 1.2em;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
}

.vmLink{
    color: #E8E8E8;
}

.vmLink:hover{
    color: #000000;
}


@media screen and (min-width: 500px){
    .photoGalTitle{
        font-size: 2.2em;
    }
    
    .photoGalDesc{
        font-size: 1.5em;
    }
}

@media screen and (min-width: 700px){
    .photoGalTitle{
        font-size: 2.4em;
    }
    
    .photoGalDesc{
        font-size: 1.7em;
    }
}

@media screen and (min-width: 1500px){
    .photoGalTitle{
        font-size: 2.7em;
    }
    
    .photoGalDesc{
        font-size: 1.9em;
    }
}



@media screen and (min-width: 2000px){
    .photoGalTitle{
        font-size: 3.4em;
    }
    
    .photoGalDesc{
        font-size: 2.5em;
    }
}