.slider{
    position: relative;
    z-index: 0;
}

.stack{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 80vw;
    position: relative;
}

.left-arrow, .right-arrow{
    position: absolute;
    top: 10%;
    font-size: 1.8rem;
    color: #C4C4C4;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow {
    right: 35vw;
}
  
.left-arrow {
    left: 35vw;
}

.sCard{
    width: 75vw;
    height: 50vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    box-shadow: 0 5px 8px 0 #191919, 0 8px 12px 0 #202020;
    transition: transform 400ms;
    z-index: 3;
}

.sCard:nth-last-child(5){
    --y: calc(-50% - 30px);
    transform: translate(-50%, var(--y)) scale(0.85);
}

.sCard:nth-last-child(4){
    --y: calc(-50% - 20px);
    transform: translate(-50%, var(--y)) scale(0.9);
}

.sCard:nth-last-child(3){
    --y: calc(-50% - 10px);
    transform: translate(-50%, var(--y)) scale(0.95);
}

.sCard:nth-last-child(2){
    --y: calc(-50%);
    transform: translate(-50%, var(--y)) scale(1);
}

.sCard:nth-last-child(1){
    --y: calc(-50% + 10px);
    transform: translate(-50%, var(--y)) scale(1.05);
}

@media screen and (min-width: 400px){
    .stack{
        height: 82vw;
    }

    .sCard{
        border-radius: 0.9rem;
    }

    .right-arrow, .left-arrow{
        font-size: 2.1rem;
    }

    .sCard:nth-last-child(5){
        --y: calc(-50% - 45px);
    }
    
    .sCard:nth-last-child(4){
        --y: calc(-50% - 30px);
    }
    
    .sCard:nth-last-child(3){
        --y: calc(-50% - 15px);
    }
    
    .sCard:nth-last-child(1){
        --y: calc(-50% + 15px);
    }
}

@media screen and (min-width: 500px){
    .stack{
        height: 85vw;
    }

    .sCard{
        border-radius: 1rem;
    }

    .right-arrow, .left-arrow{
        font-size: 2.5rem;
    }

    .sCard:nth-last-child(5){
        --y: calc(-50% - 60px);
    }
    
    .sCard:nth-last-child(4){
        --y: calc(-50% - 40px);
    }
    
    .sCard:nth-last-child(3){
        --y: calc(-50% - 20px);
    }
    
    .sCard:nth-last-child(1){
        --y: calc(-50% + 20px);
    }
}

@media screen and (min-width: 600px){
    .sCard{
        top: 63%;
    }
}

@media screen and (min-width: 700px){
    .stack{
        height: 65vw;
    }

    .right-arrow, .left-arrow{
        font-size: 3.5rem;
        top: 50%;
    }
  
    .right-arrow{
        right: 5vw;
    }
  
    .left-arrow{
        left: 5vw;
    }

    .sCard{
        width: 55vw;
        height: 37vw;
        top: 55%;
        border-radius: 1.2rem;
        box-shadow: 0 5px 10px 0 #191919, 0 15px 20px 0 #202020;
    }

    .sCard:nth-last-child(5){
        --y: calc(-50% - 75px);
    }
    
    .sCard:nth-last-child(4){
        --y: calc(-50% - 50px);
    }
    
    .sCard:nth-last-child(3){
        --y: calc(-50% - 25px);
    }
    
    .sCard:nth-last-child(1){
        --y: calc(-50% + 25px);
    }
}

@media screen and (min-width: 900px){
    .right-arrow, .left-arrow{
        font-size: 3.5rem;
        top: 50%;
    }
  
    .right-arrow{
        right: 6vw;
    }
  
    .left-arrow{
        left: 6vw;
    }

    .sCard{
        width: 57vw;
        height: 38vw;
        top: 55%;
    }
}

@media screen and (min-width: 950px){
    .right-arrow, .left-arrow{
        font-size: 5.5rem;
    }
  
    .right-arrow{
        right: 10vw;
    }
  
    .left-arrow{
        left: 10vw;
    }

    .sCard{
        width: 50vw;
        height: 34vw;
        top: 55%;
    }

    .sCard:nth-last-child(5){
        --y: calc(-50% - 105px);
    }
    
    .sCard:nth-last-child(4){
        --y: calc(-50% - 70px);
    }
    
    .sCard:nth-last-child(3){
        --y: calc(-50% - 35px);
    }
    
    .sCard:nth-last-child(1){
        --y: calc(-50% + 35px);
    }
}

@media screen and (min-width: 1300px){
    .right-arrow{
        right: 13vw;
    }
  
    .left-arrow{
        left: 13vw;
    }

    .sCard{
        width: 45vw;
        height: 31vw;
        top: 55%;
    }

    .sCard:nth-last-child(5){
        --y: calc(-50% - 120px);
    }
    
    .sCard:nth-last-child(4){
        --y: calc(-50% - 80px);
    }
    
    .sCard:nth-last-child(3){
        --y: calc(-50% - 40px);
    }
    
    .sCard:nth-last-child(1){
        --y: calc(-50% + 40px);
    }
}

@media screen and (min-width: 1500px){
    .stack{
        height: 34vw;
    }

    .right-arrow{
        right: 20vw;
    }
  
    .left-arrow{
        left: 20vw;
    }

    .sCard{
        width: 30vw;
        height: 20vw;
        top: 55%;
    }

    .sCard:nth-last-child(5){
        --y: calc(-50% - 90px);
    }
    
    .sCard:nth-last-child(4){
        --y: calc(-50% - 60px);
    }
    
    .sCard:nth-last-child(3){
        --y: calc(-50% - 30px);
    }
    
    .sCard:nth-last-child(1){
        --y: calc(-50% + 30px);
    }
}

@media screen and (min-width: 1700px){
    .stack{
        height: 55vw;
    }

    .sCard:nth-last-child(5){
        --y: calc(-50% - 150px);
    }
    
    .sCard:nth-last-child(4){
        --y: calc(-50% - 100px);
    }
    
    .sCard:nth-last-child(3){
        --y: calc(-50% - 50px);
    }
    
    .sCard:nth-last-child(1){
        --y: calc(-50% + 50px);
    }
}

@media screen and (min-width: 1900px){
    .sCard:nth-last-child(5){
        --y: calc(-50% - 165px);
    }
    
    .sCard:nth-last-child(4){
        --y: calc(-50% - 110px);
    }
    
    .sCard:nth-last-child(3){
        --y: calc(-50% - 55px);
    }
    
    .sCard:nth-last-child(1){
        --y: calc(-50% + 55px);
    }
}

@media screen and (min-width: 2000px){
    .stack{
        height: 1100px;
    }

    .right-arrow{
        right: 14vw;
    }
  
    .left-arrow{
        left: 14vw;
    }

    .sCard{
        width: 850px;
        height: 580px;
        top: 55%;
    }

    .sCard:nth-last-child(5){
        --y: -450px;
    }
    
    .sCard:nth-last-child(4){
        --y: -400px;
    }
    
    .sCard:nth-last-child(3){
        --y: -350px;
    }

    .sCard:nth-last-child(2){
        --y: -300px;
    }

    .sCard:nth-last-child(1){
        --y: -250px;
    }
}
