.firstLine{
    position: absolute;
    top: 2vw;
    right: 0;
    z-index: 0;
}

.secondLine{
    position: absolute;
    top: 42vw;
    left: 0;
    z-index: 0;
}
  
.bigSquare{
    position: absolute;
    top: 2vw;
    right: 14vw;
    z-index: 0;
}
  
.smallSquare{
    position: absolute;
    top: 44vw;
    left: 15vw;
    z-index: 0;
}

@media screen and (min-width: 900px){
    .firstLine{
        position: absolute;
        top: 4vw;
        right: 0;
    }
    
    .secondLine{
        position: absolute;
        top: 43vw;
        left: 0;
    }
  
    .bigSquare{
        top: 3vw;
        right: 25vw;
    }
      
    .smallSquare{
        top: 45vw;
        left: 25vw;
    }
}