.greySpade, .blackSpade{
    cursor: pointer;
}

.greySpade{
    width: 2.5rem;
    height: 3rem;
}

.blackSpade{
    width: 3rem;
    height: 3.7rem;
}

@media screen and (min-width: 992px){

    .greySpade{
        width: 4rem;
        height: 5rem;
    }

    .blackSpade{
        width: 5rem;
        height: 6.5rem;
    }
}