.committee-div {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper {
    max-width: 1440px;
    margin: auto;
}

.img-container {
    position: relative;
    max-width: 680px;
}

.card-container-wrapper {
    display:flex;
    justify-content:center;
}

.card-container {
    min-width: 90%;
    display: flex;
    flex-direction: column;
}

.texts {
    display: flex;
    color: #778D87;
    font-size: 72px;
    border-radius:1px;
}

.texts {
    margin-bottom: -80px;
    justify-content: center;
}

.text-block {
    top: auto;
    right: auto;
    bottom: -45px;
    left: auto;
    justify-self: center;
}

.text-block {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    font-size: x-large;
    border: solid white 4px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block-wrapper {
    display: flex;
    justify-content: center;
    padding: auto;
}

@media screen and (max-width: 420px) {
    .texts {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .text-block {
        font-size: small;
        bottom: -25px;
    }
    
    .rotated {
        margin-left: 15px !important;
    }
}

@media screen and (min-width: 420px) and (max-width: 504px) {
    .texts {
        font-size: 42px;
        padding-bottom: 20px;
    }

    .text-block {
        font-size: large;
        bottom: -30px;
    }
}

@media screen and (min-width: 504px) and (max-width: 590px) {
    .texts {
        font-size: 50px;
    }    
}

@media screen and (min-width: 590px) and (max-width: 700px) {
    .texts {
        font-size: 60px;
    }
}

.rotated {
    color: #E8E8E8;
}

.rotated {
    margin-left: 30px;
}

.pic-card-left {
    align-self: center;
}

.pic-card-right {
    align-self: center;
}

img {
    width: 100%;
}

.pic-card {
    margin: 30px;
    display:inline-block;
}

@media screen and (min-width: 992px) {
    .pic-card-left {
        align-self: flex-start !important;
    }
    
    .pic-card-right {
        align-self: flex-end !important;
    }

    .gl-card-shifting {
        z-index: 3;
        margin-top: -100px !important;
    }

    .pnp-card-shifting {
        margin-top: -100px !important;
    }

    .logistics-card-shifting {
        margin-top: -100px !important;
    }
    
    .tech-card-shifting {
        margin-top: -100px !important;
    }

    .text-wrapper {
        display: flex;
        justify-content: end;
        padding-right: 30px;
    }

    .text-block-wrapper {
        display: inline;
        justify-content: center;
    }
    
    .rotated {
        transform-origin: top left;
        transform: translate(315px, 115px) rotate(90deg);
        position: absolute;
    }

    .pic-card-overlap-tl {
        top: -20px;
        bottom: auto;
        left: -10px;
    }
    
    .pic-card-overlap-tr {
        top: -20px;
        bottom: auto;
        right: -10px;
    }
    
    .pic-card-overlap-bl {
        bottom: -20px;
        left: -10px;
    }
    
    .pic-card-overlap-br {
        bottom: -20px;
        right: -10px;
    }
}

@media screen and (min-width: 1200px) {
    .tech-card-shifting {
        z-index: 2;
        margin-top: -400px !important;
    }
}
