.navbar {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    overflow: hidden;
    z-index: 10;
    padding: 0 20%;
    height: 50.67px;
    align-items: center;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.2s;
}

.dropdown {
    background-color: black;
    position: absolute;
    display: block;
    top: 50px;
    left: 0;
    z-index: 99;
    width: 100%;
}

.link {
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: #1A1A1A;
}

.navbar-center {
    align-self: center;
    display: inline;
}

.navbar .hamburger-menu {
    display: none;
}

/* Adjustment for landscape tablet screens */
@media screen and (max-width: 500px) {
    .navbar {padding: 0 2% !important; justify-content: right;}
    .navbar a {font-size: 12px; padding: 4% 4%;}
    .navbar a {display: none;}
    .navbar a.hamburger-menu {float: right !important; display: block;}
    .link {position: relative; padding: 10px 10px;}
}

@media screen and (max-width: 500px) {
    /* .navbar.responsive {position: relative; height: 225px; display: block;} */
    .navbar.responsive a {float: none !important; display: block !important; text-align: left;}
    .navbar.responsive a.hamburger-menu {text-align: right !important;}
}

/* Adjustment for landscape tablet screens */
@media screen and (max-width: 1200px) {
    .navbar {padding: 0 10%}
}

/* Portrait tablet screens */
@media screen and (max-width: 920px) {
    .navbar a { padding: 14px 30px; }
    .navbar { padding: 0; }
}