.slider {
    position: relative;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .firstLine{
    position: absolute;
    top: 2vw;
    right: 0;
  }

  .secondLine{
    position: absolute;
    top: 42vw;
    left: 0;
  }
  
  .bigSquare{
    position: absolute;
    top: 2vw;
    right: 14vw;
  }
  
  .smallSquare{
    position: absolute;
    top: 44vw;
    left: 15vw;
  }
  
  .pics {
    width: 60vw;
    height: 42vw;
    border-radius: 2rem;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 4vw;
    font-size: 2.5rem;
    color: #C4C4C4;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 4vw;
    font-size: 2.5rem;
    color: #C4C4C4;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  @media screen and (min-width: 768px) {
    .slider {
      height: 55vw;
    }
  
  }
  
  @media screen and (min-width: 992px){
    .slider{
      height: 45vw;
    }
    
    .firstLine{
      position: absolute;
      top: 4vw;
      right: 0;
    }
  
    .secondLine{
      position: absolute;
      top: 32vw;
      left: 0;
    }

    .bigSquare{
      top: 3vw;
      right: 25vw;
    }
    
    .smallSquare{
      top: 34vw;
      left: 25vw;
    }

    .pics {
      width: 42vw;
      height: 30vw;
      border-radius: 2rem;
    }

    .right-arrow, .left-arrow{
      font-size: 6rem;
    }

    .right-arrow{
      right: 15vw;
    }

    .left-arrow{
      left: 15vw;
    }
  }

  @media screen and (min-width: 1100px){
    .slider{
      height: 35vw;
    }
 
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  